@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@tailwind bases;
@tailwind components;
@tailwind utilities;

$dark-red: rgb(119, 27, 27);
$blk: black;
$smoke: whiteSmoke;
$g: gray;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.container {
    display: flex;
    margin: 10px;
}

.left{
    width: 20rem;
}

.right {
    width: 20rem;
}
.btnContainer {

}
.button {
    width: 15rem;
    height: 2rem;
    cursor: pointer; 
    background-color: $g;
    color: $blk;
    border: $blk;
    font-family: 'Roboto';
  }

  .saveBtn {
    width: 15rem;
    height: 2rem;
    cursor: pointer;
    background-color: $dark-red;
    color: $smoke3;
    border: $dark-red;
    font-family: "Roboto";
}
.editBtn {
    width: 5rem;
    height: 2rem;
    background-color: blue;
    color: $blk;
} 

.deleteBtn {
    width: 5rem;
    height: 2rem;
    background-color: $dark-red;
    color: $smoke;
}
.deleteBtn:hover {
    background-color: rgb(119, 27, 27);
    color: $smoke;
  }

  .input {
    width: 15rem;
    height: 2rem;
    outline: none;
    border-radius: 5px;
    border: 1px solid $g;
    margin: 5px 0;
}
.notesInner{
    margin-top: 0.5rem;
    border: 1px solid $dark-red;
    border-radius: 10px;
    width: 15rem;
    text-align: center;
    cursor: pointer;
    font-family: "Roboto";
}

.notesInner:hover {
  background-color: rgb(119, 27, 27);
  color: $smoke;
}
  
.ReactQuill {
  width: 15rem;
}



 